.ver-mas{
    color: white;
    text-decoration: none;
}

.ver-mas a:hover{
    color: white;
}

/*
 * estilos de modal
 */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);

}

.modal-container{
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
}